@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	background: hsl(223, 47%, 23%);
	background: url(images/pattern-background-desktop.svg) no-repeat, hsl(225, 100%, 94%);
	background-position: center top;
	color: hsl(223, 47%, 23%);
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	font-size: 16px;
	font-family: "Red Hat Display", sans-serif;
}
button {
	cursor: pointer;
}
p {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: hsl(224, 23%, 55%);
}
h1 {
	font-size: 1.4rem;
	font-weight: 900;
	color: hsl(223, 47%, 23%);
}
/*  -----------------
        General
 --------------------*/
.container {
	width: 80%;
	max-width: 1140px;
	margin: 0 auto;
}
.btn {
	padding: 0.75em 1em;
	display: block;
	text-decoration: none;
	border-radius: 15px;
	text-align: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
}
.attribution {
	margin-top: 1em;
}
/*  -----------------
       Hero 
 --------------------*/
.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: hsl(225, 100%, 98%);
	width: 400px;
	text-align: center;
	border-radius: 15px;
	overflow: hidden;
}
/*  -----------------
       Hero  top
 --------------------*/

.hero__top {
	background: url(images/illustration-hero.svg) no-repeat;
	background-size: cover;
	background-position: bottom center;
	width: 100%;
	padding: 3em 0 10em;
}

/*  -----------------
       Hero  text
 --------------------*/
.hero__text {
	line-height: 1.7;
	margin: 2em 2em;
}

/*  -----------------
       Hero  plan
 --------------------*/
.text__plan {
	display: flex;
	align-items: center;
	font-size: 16px;
	margin: 2em 1em;
}
.text__plan h2 {
	font-size: 16px;
	font-weight: 900;
	color: hsl(223, 47%, 23%);
}
.text__plan div {
	margin-right: auto;
}
.text__plan img {
	margin-right: 1em;
}
.text__plan a {
	font-weight: bolder;
	font-size: 16px;
}
.text__plan a:hover {
	text-decoration: none;
}

/*  -----------------
       Hero  payment
 --------------------*/
.hero__payment {
	padding: 0 2em 0;
	margin: 0 0 1em;
	width: 100%;
}

.payment__btn--white {
	background-color: hsl(225, 100%, 98%);
	color: hsl(224, 23%, 55%);
	margin-top: 0.75em;
	font-weight: 900;
}
.payment__btn--white:hover {
	color: hsl(223, 47%, 23%);
}
.payment__btn--blue {
	background-color: hsl(245, 75%, 52%);
	color: hsl(225, 100%, 98%);
	box-shadow: -2px 15px 19px -13px rgba(0, 0, 0, 0.27);
	-webkit-box-shadow: -2px 15px 19px -13px rgba(0, 0, 0, 0.27);
	-moz-box-shadow: -2px 15px 19px -13px rgba(0, 0, 0, 0.27);
	font-weight: 700;
}
.payment__btn--blue:hover {
	background-color: hsla(245, 75%, 52%, 0.507);
}
@media all and (max-width: 768px) {
	body {
		background: url(images/pattern-background-mobile.svg) no-repeat, hsl(225, 100%, 94%);
	}
}
