@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}
body {
	background: hsl(233, 47%, 7%);
	color: hsl(0, 0%, 100%);
	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	font-size: 15px;
}

button {
	cursor: pointer;
}
img {
	max-width: 100%;
	height: auto;
	object-fit: cover;
}
/* -------------------
        General 
-----------------------*/
.container {
	width: 80%;
	max-width: 1140px;
	margin: 2em auto;
	height: 100vh;
}
.container--flex {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
}
/* ------------------- lower 768px - mobile 
-----------------------*/
/* -------------------
        hero section
-----------------------*/
.hero {
	background-color: hsl(244, 38%, 16%);
	border-radius: 5px;
	margin-top: 2em;
}
.hero__text {
	padding: 1.5em;
}
.hero__text span {
	color: hsl(277, 64%, 61%);
}
.hero__text p {
	font-family: "Inter", sans-serif;
	font-weight: 400;
	color: hsla(0, 0%, 100%, 0.75);
	margin: 1em 0;
	line-height: 1.6;
}
.hero__text h1 {
	font-size: 1.7rem;
	font-family: "Inter", sans-serif;
	color: hsl(0, 0%, 100%);
	margin-top: 1em;
}
.hero__image {
	border-radius: 5px;
	background: url(/images/image-header-mobile.jpg) no-repeat;
	background-size: cover;
	background-position: center center;
	padding: 7em 0;
	position: relative;
}
.hero__image::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: hsla(277, 64%, 61%, 0.658);
}

/*  statics*/

.statistics__items {
	margin: 2em 0 1em;
	text-align: center;
}
.statistics__items span {
	color: hsl(0, 0%, 100%);
	font-size: 1.5rem;
	font-weight: 700;
}
.statistics__items p {
	color: hsla(0, 0%, 100%, 0.6);
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 1px;
}
/* -------------------
        higher 768px 
-----------------------*/
@media screen and (min-width: 768px) {
	.hero {
		display: flex;
		text-align: left;
		margin: 0;
	}
	.hero__image {
		order: 2;
		flex: 50%;
		padding: 0;
		background: url(/images/image-header-desktop.jpg) no-repeat;
	}
	.hero__text {
		order: 1;
		flex: 50%;
	}
	.hero__text h1,
	p,
	.hero__statistics {
		max-width: 90%;
	}
	.hero__statistics {
		display: flex;
		justify-content: space-between;
	}
	.statistics__items {
		margin-right: 1em;
		text-align: left;
	}
}
